{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>charting python</title>
</head>
<body>
    <h3>
        {{_("Payments")}}
        <small class="text-muted">{{_("by clients")}}</small>
    </h3>
      
    <div class="container-fluid">
      
        <div class="row">
            <!-- table container -->
            <div class="col-sm-9">
                <div class="card">
                    <div id="chart_teiner">
                        <div id="myHandsomeTable"></div>
                    </div>
                    <br>
                    <button onclick="saveAsPDF();" class="btn btn-primary">save as pdf</button>
                </div>

                <a href="{% url 'post_new' %}" class="top-menu" sizes="HeightxWidth|any"> 
                New
                </a>
                <a href="{% url 'payment_search' %}" class="top-menu">
                Search
                </a>
            </div>
        </div>
      
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" />

    <script>
        
    const json_data = {{json_data|safe}};
    const labels = {{labels|safe}};
    const container = document.querySelector('#myHandsomeTable');

    const hot = new Handsontable(container, {
        data: json_data,
        rowHeaders: true,
        colHeaders: labels,
        filters: true,
        dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
        height: 'auto',
        width: 'auto',
        licenseKey: 'non-commercial-and-evaluation' // for non-commercial use only
    });
    

    function saveAsPDF() {
        //html2canvas(document.getElementById("myChart"), {
        html2canvas(document.getElementById("chart_teiner"), {
            onrendered: function(canvas) {
                var img = canvas.toDataURL(); //image data of canvas
                var doc = new jsPDF('l', 'mm', [340, 280], true);         
                doc.addImage(img, 10, 10);
                doc.save('test.pdf');
                }
            });
    };
    </script>
    
</body>
</html>

<style>
    #container.handsontable table{
    width:100%;
}
</style>

{% endblock %}
