{% extends 'base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
            <a class="btn btn-secondary" href="{% url 'post_detail' pk=payment.pk %}">
                {% include './icons/pencil-fill.svg' %}
            </a>
        </aside>
        {% if payment.date %}
            <time class="date">
                {{ payment.date }}
            </time>
        {% endif %}
        <h2>{{ payment.user }}</h2>
        <p>{{ payment.receiver|linebreaksbr }}</p>
        <p>{{ payment.date|linebreaksbr }}</p>
        <p>{{ payment.time|linebreaksbr }}</p>
        <p>{{ payment.price|linebreaksbr }}</p>
        <p>{{ payment.quota|linebreaksbr }}</p>
        <p>{{ payment.payment_type|linebreaksbr }}</p>
    </article>
{% endblock %}